<IfModule mod_rewrite.c>
  RewriteEngine On
  # If you are in a subdirectory like /medai/, uncomment the next line
  # RewriteBase /medai/
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
